<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="http://35.174.156.156/additem">additem</a>
<a href="http://35.174.156.156/adduser">adduser</a>
<a href="http://35.174.156.156/item">item</a>
<a href="http://35.174.156.156/login">login</a>
<a href="http://35.174.156.156/logout">logout</a>
<a href="http://35.174.156.156/search">search</a>
<a href="http://35.174.156.156/verify">verify</a>
